<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger : %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="dk.sunepoulsen.tes.json" level="DEBUG"/>
    <logger name="dk.sunepoulsen.tes.rest.integrations" level="TRACE"/>

    <logger name="org.apache.velocity" level="INFO"/>
    <logger name="org.testcontainers" level="INFO"/>
    <logger name="com.github.dockerjava.zerodep" level="INFO"/>

</configuration>
